[Unit]
Description=Vector
Documentation=https://vector.dev
After=network-online.target
Requires=network-online.target

[Service]
User=vector
Group=vector
ExecStartPre=/opt/vector/bin/vector validate /opt/vector/config/vector.yml
ExecStart=/opt/vector/bin/vector --config /opt/vector/config/vector.yml
ExecReload=/opt/vector/bin/vector validate /opt/vector/config/vector.yml
ExecReload=/bin/kill -HUP $MAINPID
Restart=no
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
